body{
    text-align: center;
}

#main{
    align-items: center;
}
#yoursearch{
    background-color: azure;
}

.searcher{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

form{
    height: 100%;
}

.card-searcher{
    display: flex;
    flex-direction: column;
}

.double-search{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

}
.width-class{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}